<!doctype html>
<html lang="en">
	{% include 'head.html' %}

    <body>
        <!-- Navbar Start -->
        {% include 'header.html' %}
        <!-- Navbar End -->

        <!-- Start Hero -->
        <section class="bg-home zoom-image d-flex align-items-center">
            <div ></div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="p-4 bg-white rounded-3 shadow-md mx-auto w-100" style="max-width: 400px;">
                            <form id="login-form">
                                <h5 class="mb-3">Please sign in</h5>
                            
                                <div class="form-floating mb-2">
                                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                    <label for="email">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                            
                                <div class="d-flex justify-content-between">
                                    <div class="mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label text-muted" for="flexCheckDefault">Remember me</label>
                                        </div>
                                    </div>
                                    <span class="forgot-pass text-muted mb-0"><a href="auth-reset-password.html" class="text-muted">Forgot password ?</a></span>
                                </div>

                                <div id="login-error" class="alert alert-danger d-none" role="alert">
                                    Invalid username or password.
                                </div>
                
                                <button class="btn btn-primary w-100" type="submit">Sign in</button>

                                <div class="col-12 text-center mt-3">
                                    <span><span class="text-muted me-2">Looking for register?</span> <a href="auth-signup.html" class="text-dark fw-medium">Sign Up Here</a></span>
                                </div><!--end col-->
                            </form>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- ENd Hero -->

        {% include 'footer.html' %}
        
        <!-- javascript -->
        <script src="./static/js/bootstrap.bundle.min.js"></script>
        <!-- Icons -->
        <script src="./static/js/feather.min.js"></script>
	    <!-- Custom -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script src="./static/js/plugins.init.js"></script>
	    <script src="./static/js/app.js"></script>
        <script src="./static/js/login.js"></script>
    </body>

</html>