<!doctype html>
<html lang="en">
    {% include 'head.html' %}
    <body>
        <!-- Navbar Start -->
        {% include 'header.html' %}
        <!-- Navbar End -->

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-12 col-md-12 col-12 px-5 py-5 pt-5 pb-0">
                        {% include 'facets-box.html' %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
        <!-- Back to top -->

        <!-- JAVASCRIPTS -->
        <script src="./static/js/bootstrap.bundle.min.js"></script>
        <script src="./static/js/tobii.min.js"></script>
        <script src="./static/js/feather.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	    <script src="./static/js/plugins.init.js"></script>
	    <script src="./static/js/app.js"></script>
        <script src="./static/js/search_results.js"></script>
        <script src="./static/js/utils.js"></script>
    </body>
</html>