<div class="card bg-white p-4 rounded-3 shadow sticky-bar">
    <form id="searchForm" method="GET" onsubmit="handleSubmit(event)">
        <div class="mt-2 mb-4">
            <h5>Searching for homes in {{ location }}</h5>
        </div>
        <!-- Typeahead for Current Location -->
        <h6 class="mb-0">Current Location (We will use this to find suitable swaps)</h6>
        <div class="typeahead-wrapper mt-2">
            <input type="text" class="form-control rounded-3 border" name="currentLocation" id="job-keyword" placeholder="Birmingham, Leeds, etc" oninput="fetchTypeahead(this.value)">
            <div id="typeahead-suggestions" class="suggestions-container"></div>
        </div>
        
        <!-- Other Filters -->
        <h6 class="mb-0 mt-4">Other Filters</h6>
        <div class="d-flex flex-wrap">
            <div class="form-check me-3">
                <input class="form-check-input" type="checkbox" name="garden" id="garden" value="1">
                <label class="form-check-label" for="garden">Garden</label>
            </div>
            <div class="form-check me-3">
                <input class="form-check-input" type="checkbox" name="parking" id="parking" value="1">
                <label class="form-check-label" for="parking">Parking</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="accessible" id="accessible" value="1">
                <label class="form-check-label" for="accessible">Accessible</label>
            </div>
        </div>


        <!-- Categories -->
        <h6 class="mb-0 mt-4">Categories</h6>
        <select class="form-select" name="category" id="procategories">
            <option value="any">Any</option>
            <option value="apartment">Apartment</option>
            <option value="detached">Detached</option>
            <option value="semi-detached">Semi-Detached</option>
            <option value="townhouse">Townhouse</option>
            <option value="other">Other</option>
        </select>

        <!-- Minimum Bedroom -->
        <h6 class="mb-0 mt-4">Minimum Bedroom</h6>
        <select class="form-select" name="min_bedroom" id="prolocation">
            <option>Any</option>
            <option value="0">Studio</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
        </select>

        <!-- Maximum Rent -->
        <h6 class="mb-0 mt-4">Maximum Rent</h6>
        <select class="form-select" name="max_price" id="prolocation">
            <option>Any</option>
            <option value="200">0-200</option>
            <option value="400">200-400</option>
            <option value="600">400-600</option>
            <option value="800">600-800</option>
            <option value="Any">800+</option>
        </select>

        <!-- Hidden field for location -->
        <input type="hidden" name="location" value="{{ location }}">

        <button type="submit" class="btn btn-primary w-100 mt-4">Find properties</button>
    </form>
</div>