<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <a class="logo" href="/">
            <img src="./static/images/logo-dark.png" class="logo-light-mode" alt="">
            <img src="./static/images/logo-light.png" class="logo-dark-mode" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <ul class="buy-button list-inline mb-0">
            {% if not session.get('user_id') %}
            <!-- User is not logged in, show Log in/Register -->
            <li class="list-inline-item ps-1 mb-0">
                <a href="/login" class="btn btn-primary">
                    <i data-feather="user" class="icons"></i> Login
                </a>
            </li>
            {% else %}
            <!-- User is logged in, show Log out -->
            <li class="list-inline-item ps-1 mb-0">
                <a href="/logout" class="btn btn-primary" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i data-feather="log-out" class="icons"></i> Log out
                </a>
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
                </form>
            </li>
            {% endif %}
        </ul>        

        <div id="navigation">
            <ul class="navigation-menu nav-left">
                <li><a href="/search">Search</a></li>
                <li><a href="buy.html" class="sub-menu-item">Swap your home</a></li>
                <li><a href="sell.html" class="sub-menu-item">Commercial</a></li>
                {% if session.get('user_id') %}
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Account</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="aboutus.html" class="sub-menu-item">My Messages</a></li>
                        <li><a href="features.html" class="sub-menu-item">My Property</a></li>
                        <li><a href="pricing.html" class="sub-menu-item">My desired property</a></li>
                        <li><a href="faqs.html" class="sub-menu-item">My Alerts</a></li>
                    </ul>
                </li>
                {% endif %}
                <li><a href="contactus.html" class="sub-menu-item">Contact Us</a></li>
            </ul>
        </div>
    </div>
</header>