<!doctype html>
<html lang="en">
	{% include 'head.html' %}

	<body>
        <!-- Navbar Start -->
        {% include 'header.html' %}
        <!-- Navbar End -->

        <!-- Hero -->
        <section class="position-relative mt-5 pt-4">
            <div class="container-fluid px-md-4 px-2 mt-2">
                <div class="bg-home-one d-table w-100 shadow rounded-3 overflow-hidden" id="home">
                    <div class="bg-overlay image-wrap" id="hero-images"></div>
                    <div class="bg-overlay bg-black opacity-50"></div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="title-heading">
                                    <h4 class="heading fw-bold text-white title-dark mb-3">We will help you find <br> your <span class="typewrite text-primary" data-period="2000" data-type='[ "perfect", "dream", "peaceful" ]'></span> home</h4>
                                    <p class="para-desc text-white title-dark mb-0">A fresh platform to swap your council home - for free.</p>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div><!--end container-->
        </section><!--end section-->

        <section class="section pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 mt-sm-0 pt-sm-0">
                        <div class="features-absolute">
                            <div class="tab-content bg-white rounded-3 sm-rounded-0 shadow" id="pills-tabContent">
                                <div class="card border-0 tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="swap-homepage">
                                    <form class="card-body text-start" action="/facets" method="GET" id="searchForm">
                                        <div class="registration-form text-dark text-start">
                                            <div class="row g-lg-0">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="mb-2">
                                                        <label class="form-label fs-6">Let us know where you're looking to swap.</label>
                                                        <div class="filter-search-form position-relative filter-border">
                                                            <div class="typeahead-wrapper">
                                                                <input
                                                                    name="location"
                                                                    type="text"
                                                                    id="job-keyword-index"
                                                                    class="form-control filter-input-box bg-light border-0"
                                                                    placeholder="Glasgow, Manchester, etc"
                                                                    oninput="fetchTypeahead(this.value, 'job-keyword-index', 'typeahead-suggestions-index')"
                                                                    >
                                                                <div id="typeahead-suggestions-index" class="suggestions-container"></div>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <button type="submit" id="search" class="btn btn-primary searchbtn w-100" style="height: 48px;">Search</button>
                                                </div>
                                            </div><!--end row-->
                                        </div>
                                    </form><!--end form-->
                                </div><!--end tab panel-->
                        </div>                        
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="row g-3 align-items-center">
                            <div class="col-lg-7 col-6">
                                <img src="./static/images/homepage_property_2.jpg" class="img-fluid rounded-3" alt="work-image">
                            </div><!--end col-->
                            
                            <div class="col-lg-5 col-6">
                                <div class="row g-3">
                                    <div class="col-lg-12 col-md-12">
                                        <img src="./static/images/homepage_property_1.jpg" class="img-fluid rounded-3" alt="work-image">
                                    </div><!--end col-->
    
                                    <div class="col-lg-12 col-md-12">
                                        <img src="./static/images/logo-icon.png" class="img-fluid" alt="work-image">
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <h4 class="title mb-3">Passionate. Transparent. Ethical.</h4>
                            <p class="text-muted para-desc mb-0">We are a social enterprise committed to transforming the real estate landscape. At our core, we champion accessibility, affordability, and community spirit in property exchanges.</p>
                        
                            <div class="mt-4">
                                <a href="/about" class="btn btn-pills btn-primary">Read More <i class="mdi mdi-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title mb-0 pb-2">
                            <h4 class="title mb-0">Countries</h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4 mt-0">
                    <div class="col">
                        <div class="categories position-relative overflow-hidden rounded-3 shadow">
                            <img src="./static/images/homepage_scotland.jpg" class="img-fluid" alt="">

                            <div class="p-3">
                                <a href="" class="title text-dark fs-5 fw-medium">Scotland</a>
                                <p class="text-muted small mb-0">1,245 Listings</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col">
                        <div class="categories position-relative overflow-hidden rounded-3 shadow">
                            <img src="./static/images/homepage_england.jpg" class="img-fluid" alt="">

                            <div class="p-3">
                                <a href="" class="title text-dark fs-5 fw-medium">England</a>
                                <p class="text-muted small mb-0">124,000 Listings</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col">
                        <div class="categories position-relative overflow-hidden rounded-3 shadow">
                            <img src="./static/images/homepage_wales.jpg" class="img-fluid" alt="">

                            <div class="p-3">
                                <a href="" class="title text-dark fs-5 fw-medium">Wales</a>
                                <p class="text-muted small mb-0">235 Listings</p>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col">
                        <div class="categories position-relative overflow-hidden rounded-3 shadow">
                            <img src="./static/images/homepage_uk.jpg" class="img-fluid" alt="">
                            <div class="p-3">
                                <a href="" class="title text-dark fs-5 fw-medium">UK</a>
                                <p class="text-muted small mb-0">125,480 Listings</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-left mb-4 pb-0">
                            <h4 class="title mb-0">Hot Properties</h4>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-4 mt-0">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
                            <div class="property-image position-relative overflow-hidden shadow">
                                <img src="images/property/1.jpg" class="img-fluid" alt="">
                                <ul class="list-unstyled property-icon">
                                    <li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body content p-4">
                                <a href="property-detail.html" class="title fs-5 text-dark fw-medium">10765 Hillshire Ave, Baton Rouge, LA 70810, USA</a>

                                <ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">8000sqf</span>
                                    </li>
    
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Beds</span>
                                    </li>
    
                                    <li class="d-flex align-items-center">
                                        <i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Baths</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
                                    <li class="list-inline-item mb-0">
                                        <span class="text-muted">Price</span>
                                        <p class="fw-medium mb-0">$5000</p>
                                    </li>
                                    <li class="list-inline-item mb-0 text-muted">
                                        <span class="text-muted">Rating</span>
                                        <ul class="fw-medium text-warning list-unstyled mb-0">
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0 text-dark">5.0(30)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end items-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
                            <div class="property-image position-relative overflow-hidden shadow">
                                <img src="images/property/2.jpg" class="img-fluid" alt="">
                                <ul class="list-unstyled property-icon">
                                    <li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body content p-4">
                                <a href="property-detail.html" class="title fs-5 text-dark fw-medium">59345 STONEWALL DR, Plaquemine, LA 70764, USA</a>
                                <ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">8000sqf</span>
                                    </li>
    
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Beds</span>
                                    </li>
    
                                    <li class="d-flex align-items-center">
                                        <i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Baths</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
                                    <li class="list-inline-item mb-0">
                                        <span class="text-muted">Price</span>
                                        <p class="fw-medium mb-0">$5000</p>
                                    </li>
                                    <li class="list-inline-item mb-0 text-muted">
                                        <span class="text-muted">Rating</span>
                                        <ul class="fw-medium text-warning list-unstyled mb-0">
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0 text-dark">5.0(30)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end items-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
                            <div class="property-image position-relative overflow-hidden shadow">
                                <img src="images/property/3.jpg" class="img-fluid" alt="">
                                <ul class="list-unstyled property-icon">
                                    <li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
                                    <li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="card-body content p-4">
                                <a href="property-detail.html" class="title fs-5 text-dark fw-medium">3723 SANDBAR DR, Addis, LA 70710, USA</a>
                                <ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">8000sqf</span>
                                    </li>
    
                                    <li class="d-flex align-items-center me-3">
                                        <i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Beds</span>
                                    </li>
    
                                    <li class="d-flex align-items-center">
                                        <i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
                                        <span class="text-muted">4 Baths</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
                                    <li class="list-inline-item mb-0">
                                        <span class="text-muted">Price</span>
                                        <p class="fw-medium mb-0">$5000</p>
                                    </li>
                                    <li class="list-inline-item mb-0 text-muted">
                                        <span class="text-muted">Rating</span>
                                        <ul class="fw-medium text-warning list-unstyled mb-0">
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                                            <li class="list-inline-item mb-0 text-dark">5.0(30)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end items-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h4 class="title mb-3">Questions? Get in touch!</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">We want to help you find your perfect new home and have a happy swap</p>
                            <div class="mt-4 pt-2">
                                <a href="contactus.html" class="btn btn-pills btn-primary"><span class="h5 mb-0 me-1"><i data-feather="mail" class="fea icon-sm"></i></span> Contact us</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <section>
            <div class="container"> 
                <div class="row">
                    <div class="col-12">
                        <h4 class="title mb-3">Browse by Location</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> 
                        <ul class="list-unstyled">
                            <li><a href="/locations/aberdeen">Aberdeen</a></li>
                            <li><a href="/locations/glasgow">Glasgow</a></li>
                            <li><a href="/locations/edinburgh">Edinburgh</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"> 
                        <ul class="list-unstyled">
                            <li><a href="/">Manchester</a></li>
                            <li><a href="/">Leeds</a></li>
                            <li><a href="/">Liverpool</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"> 
                        <ul class="list-unstyled">
                            <li><a href="/">London</a></li>
                            <li><a href="/">Newcastle</a></li>
                            <li><a href="/">Bradford</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3"> 
                        <ul class="list-unstyled">
                            <li><a href="/">Birmingham</a></li>
                            <li><a href="/">Coventry</a></li>
                            <li><a href="/">Brighton</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </section>

        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
        <!-- Back to top -->

        <!-- JAVASCRIPTS -->
	    <script src="./static/js/bootstrap.bundle.min.js"></script>
        <!-- Tiny slider -->
        <script src="./static/js/tiny-slider.js"></script>
        <script src="./static/js/easy_background.js "></script>
        <!-- Tobii -->
        <script src="./static/js/tobii.min.js"></script>
        <!-- Choice js -->
        <script src="./static/js/choices.min.js"></script>
        <!-- Icons -->
        <script src="./static/js/feather.min.js"></script>
	    <!-- Custom -->
	    <script src="./static/js/plugins.init.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	    <script src="./static/js/app.js"></script>
        <script src="./static/js/utils.js"></script>
        <script src="./static/js/search_results.js"></script>
        <script>
            easy_background("#hero-images",
                {
                    slide: ["./static/images/home.jpeg"],
                    delay: [1000, 10000, 10000]
                }
            );
        </script>
    </body>
</html>