<!doctype html>
<html lang="en">
    {% include 'head.html' %}

	<body>
        <!-- Navbar Start -->
        {% include 'header.html' %}
        <!-- Navbar End -->

        <!-- Hero Start -->
        <section class="bg-home-one d-table w-100" style="background: url('https://media.istockphoto.com/id/1148222645/photo/sandstone-terrace-houses-on-a-leafy-street-in-the-southside-of-glasgow.jpg?s=1024x1024&w=is&k=20&c=m3sqiOmGmADrnMkxnyoWRAQqSmiUGg6QC_UCxU57hZw=') center center; background-size: cover; position: relative;">
            <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Ready to start <strong>swapping</strong>?</h5>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- Hero End -->
        
        <!-- Start -->
        <section class="section pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 mt-sm-0 pt-sm-0">
                        <div class="features-absolute">
                            <div class="row g-4">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card rounded-3 shadow">
                                        <div class="p-4 border-bottom text-center">
                                            <div class="position-relative features text-center mx-lg-4 px-md-1">
                                                <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                                    <i data-feather="hexagon" class="hexagon"></i>
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <i class="mdi mdi-home fs-2 text-swap-secondary"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <h5 class="text-swap-secondary">Basic</h5>

                                            <div class="d-flex justify-content-center">
                                                <span class="h2 fw-semibold mb-0">Free</span>
                                            </div>
                                        </div>

                                        <div class="p-4">
                                            <h6>Features:</h6>
                                            <ul class="list-unstyled">
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>List your home for swaps</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Upload 1 photo to showcase your home</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Daily matching algorithm to find potential swaps</li>
                                            </ul>

                                            <a href="" class="btn btn-primary w-100">Get started</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                
                                <!-- Premium Plan -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="card rounded-3 shadow premium-plan-card" style="border: 2px solid #a6276f;">
                                        <div class="premium-label">Fast Swap</div>
                                        <div class="p-4 border-bottom text-center">
                                            <div class="position-relative features text-center mx-lg-4 px-md-1">
                                                <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                                    <i data-feather="hexagon" class="hexagon"></i>
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <i class="mdi mdi-home-plus fs-2 text-swap-primary"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <h5 class="text-swap-primary">Premium</h5>

                                            <div class="d-flex justify-content-center text-swap-primary">
                                                <span class="fs-5">£</span>
                                                <span class="h2 fw-semibold mb-0">19.99</span>
                                            </div>
                                        </div>

                                        <div class="p-4">
                                            <h6>Features:</h6>
                                            <ul class="list-unstyled">
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Everything in Basic, plus:</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Upload up to 5 photos of your home</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Pin your listing to the top of certain searches*</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Hourly checks for new matches to quickly connect with potential swaps*</li>
                                            </ul>
                                            <p class="text-muted"><small>*Pinned feature and hourly match service are available for 14 days from the date of purchase.</small></p>

                                            <a href="" class="btn btn-primary w-100">Get started</a>
                                        </div>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card rounded-3 shadow">
                                        <div class="p-4 border-bottom text-center">
                                            <div class="position-relative features text-center mx-lg-4 px-md-1">
                                                <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                                    <i data-feather="hexagon" class="hexagon"></i>
                                                    <div class="position-absolute top-50 start-50 translate-middle">
                                                        <i class="mdi mdi-office-building-outline fs-2 text-swap-secondary"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <h5 class="text-swap-secondary">Business</h5>

                                            <div class="d-flex justify-content-center">
                                                <span class="h2 fw-semibold mb-0">Contact us</span>
                                            </div>
                                        </div>

                                        <div class="p-4">
                                            <h6>Features:</h6>
                                            <ul class="list-unstyled">
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Custom import feeds for easy bulk listings</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Dedicated account manager for personalized support</li>
                                                <li class="text-muted mb-0"><span class="icon fs-5 me-2"><i class="mdi mdi-check-circle align-middle text-success"></i></span>Improve resident satisfaction by offering them the flexibility to find their ideal home swap effortlessly</li>
                                            </ul>

                                            <a href="" class="btn btn-primary w-100">Contact us</a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-3">How It Works</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">We aim to offer a stress-free swap for you and your swapee(s)</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-4 mt-0">
                    <div class="col-md-4">
                        <div class="position-relative features text-center mx-lg-4 px-md-1">
                            <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                <i data-feather="hexagon" class="hexagon"></i>
                                <div class="position-absolute top-50 start-50 translate-middle">
                                    <i data-feather="home" class="fea icon-m-md text-secondary"></i>
                                </div>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="fw-medium title text-dark fs-5">Post your home</a>
                                <p class="text-muted mt-3 mb-0">Register with us, upload details of your property and we'll do the rest</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4">
                        <div class="position-relative features text-center mx-lg-4 px-md-1">
                            <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                <i data-feather="hexagon" class="hexagon"></i>
                                <div class="position-absolute top-50 start-50 translate-middle">
                                    <i data-feather="briefcase" class="fea icon-m-md text-secondary"></i>
                                </div>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="fw-medium title text-dark fs-5">Receive match alerts</a>
                                <p class="text-muted mt-3 mb-0">Get alerts for potential swaps and let us know if you like them</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4">
                        <div class="position-relative features text-center mx-lg-4 px-md-1">
                            <div class="feature-icon position-relative overflow-hidden d-flex justify-content-center">
                                <i data-feather="hexagon" class="hexagon"></i>
                                <div class="position-absolute top-50 start-50 translate-middle">
                                    <i data-feather="key" class="fea icon-m-md text-secondary"></i>
                                </div>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="fw-medium title text-dark fs-5">Close the Deal</a>
                                <p class="text-muted mt-3 mb-0">We'll provide a messaging service for you to contact all parties to arrange viewings and seal the deal!</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h4 class="title mb-3">Have Question ? Get in touch!</h4>
                            <div class="mt-4 pt-2">
                                <a href="contactus.html" class="btn btn-pills btn-primary"><span class="h5 mb-0 me-1"><i data-feather="mail" class="fea icon-sm"></i></span> Contact us</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
        <!-- Back to top -->

        <!-- JAVASCRIPTS -->
	    <script src="./static/js/bootstrap.bundle.min.js"></script>
        <!-- Tiny slider -->
        <script src="./static/js/tiny-slider.js"></script>
        <!-- Tobii -->
        <script src="./static/js/tobii.min.js"></script>
        <!-- Choice js -->
        <script src="./static/js/choices.min.js"></script>
        <!-- Icons -->
        <script src="./static/js/feather.min.js"></script>
	    <!-- Custom -->
	    <script src="./static/js/plugins.init.js"></script>
	    <script src="./static/js/app.js"></script>
    </body>
</html>